#### Q1. How do you comment code in Python? What are the different types of comments?

#### solve
In Python, comments are used to explain the code and make it more readable. Python supports two main types of comments:

a. Single-line comments
- Single-line comments begin with a hash symbol (#).

b. Multi-Line Comments
- multi-line comments are typically created using multiple single-line comments or by using triple-quoted strings (''' or """).

#### Q2. What are variables in Python? How do you declare and assign values to variables?

#### solve
In Python, variables are symbolic names used to store data. They act as containers for storing values that can be referenced and manipulated in the program.

Declare and Assign Values to Variables
- Declaration and Assignment
In Python, variables are created when you assign a value to them. There is no need for an explicit declaration keyword.

In [1]:
x = 10         # Integer
name = "Alice" # String
pi = 3.14      # Float
is_valid = True # Boolean

#### Q3. How do you convert one data type to another in Python?

#### solve
In Python, you can convert one data type to another using type conversion methods. Python supports two types of type conversion:

a. Implicit Type Conversion
- This happens automatically when Python converts a smaller data type to a larger data type during operations.
- It is handled by Python without any explicit instruction from the programmer.

b. Explicit Type Conversion (Type Casting)
- This requires you to manually convert one data type to another using Python's built-in functions.

In [2]:
# implicit type conversion
x = 10       # Integer
y = 2.5      # Float
result = x + y  # x is implicitly converted to float
print(result)   # Output: 12.5
print(type(result))  # Output: <class 'float'>

12.5
<class 'float'>

In [3]:
# Explicit type conversion
x = 10  # Integer
y = float(x)  # Convert to float
print(y)  # Output: 10.0
print(type(y))  # Output: <class 'float'>

10.0
<class 'float'>

#### Q4. How do you write and execute a Python script from the command line?

#### solve
 a. Writing a Python Script

- Create a New File:

  - Use a text editor (e.g., Notepad, VS Code, Sublime Text) to write your Python code.
  - Save the file with a .py extension, e.g., script.py.

b. Example Script (script.py):

In [4]:
# script.py
print("Hello, World!")

Hello, World!

#### Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

#### solve
To slice the list my_list = [1, 2, 3, 4, 5] and obtain the sub-list [2, 3], use the following code:

In [5]:
my_list = [1, 2, 3, 4, 5]
sub_list = my_list[1:3]  # Slicing from index 1 (inclusive) to index 3 (exclusive)
print(sub_list)

[2, 3]

#### Q6. What is a complex number in mathematics, and how is it represented in Python?

#### solve
A complex number is a number that has two parts:

A real part.
An imaginary part (which is a multiple of the imaginary unit
ùëñ
i, where
ùëñ
=
‚àí
1
i=
‚àí1
‚Äã
 ).
It is generally written in the form:

ùëß
=
ùëé
+
ùëè
ùëñ
z=a+bi

Where:
- a is the real part.
- b is the imaginary part.
- i is the imaginary unit.

Example:
- 3+4i, where 3 is the real part, and 4i is the imaginary part.

#### Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

#### solve
The correct way to declare a variable named age and assign the value 25 to it in Python is:

In [6]:
age = 25

#### Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

#### solve

To declare a variable named price and assign the value 9.99 to it, use the following code:

Data Type of price
The data type of the variable price is float.

In [7]:
price = 9.99

#### Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?

#### solve

To create a variable named name and assign your full name to it as a string, you can do the following:

In [8]:
name = "Your Full Name"  # Replace "Your Full Name" with your actual name
print(name)

Your Full Name

#### Q10. Given the string "Hello, World!", extract the substring "World".

#### solve
To extract the substring "World" from the string "Hello, World!", you can use string slicing.

In [9]:
text = "Hello, World!"
substring = text[7:12]  # Slice from index 7 to 12 (exclusive)
print(substring)

World

#### Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.

#### solve
To create a variable named is_student and assign it a boolean value indicating whether you are currently a student, you can do the following:

In [10]:
is_student = True  # Since you are currently a student
print(is_student)

True